# Replace with your credentials!
BASE_URL="http://localhost:5173"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

STRIPE_SECRET_KEY=
PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

RESEND_API_KEY=

# Flask API URL
PUBLIC_FLASK_API_URL="http://127.0.0.1:5000"
